
######################################################################
# config variables 
######################################################################

######################################################################
#Provider variable


AzureADClientID     = ""
AzureADClientSecret = ""


AzureSubscriptionID = ""
AzureClientID       = ""
AzureClientSecret   = ""
AzureTenantID       = ""

